html {
  font-size: 1rem;
}

:root {
  --white: #fff;
  --blue: #39C2D7;
  --gray: #464547;
  --green: #A3C644;
  --dark-blue: #1A9CB0;
  --raspberry: #B22746;
}

.slide-0__content{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.slide-0__wrapper{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.slide-0__name {
    color: var(--blue);
    align-self: flex-end;
}

.slide-1__content{
  display: flex;
  align-items: stretch;
}

.slide-1__text__wrapper{
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: space-between;
  align-self: stretch;
}

.slide-1__picture {
  flex-basis: 25%;
}

.slide-1__picture__wrapper img {
  border: 1px solid transparent;
  border-radius: 5rem;
}

.slide-1__name {
  color: var(--blue)
}

.slide-2__2__header,
.slide-2__1__header,
.slide-2__3__header,
.slide-2__4__header,
.slide-2__5__header{
  color: var(--blue)!important;
}

.slide-2__3__picture {
  position: relative;
}

.slide-2__5__svg {
  position: absolute;
  bottom: -7.5rem;
  right: 9rem;  
  color: var(--raspberry);
}

.slide-2__5__svg.fragment{
  transform: scale(10);
  width: 10rem;
}

.slide-2__5__svg.fragment.current-fragment {
  transform: scale(1) rotateZ(-30deg);
}

.slide-2__5__svg.fragment.visible {
  transform: scale(1) rotateZ(-30deg);
}